<!-- add_player.html -->

{% extends "base.html" %}

{% block content %}
  <h2>Add Player</h2>
  <form method="post" action="{% url 'add_player' %}">
    {% csrf_token %}
    
    {{ form.as_p }}
    
    <button type="submit">Add Player</button>
  </form>
{% endblock %}
