<!-- tournaments/templates/tournaments/create_tournament.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Create Tournament</h2>
  <form method="post" action="{% url 'create_tournament' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Tournament</button>
  </form>
{% endblock %}
