<!-- tournaments/templates/tournaments/create_team.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Create Team</h2>
  <form method="post" action="{% url 'create_team' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Team</button>
  </form>
{% endblock %}
