{% extends "base.html" %}

{% block content %}
  <h2>Add Player</h2>
  <form method="post" action="{% url 'add_player' %}">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" required><br>

    <label for="date_of_birth">Date of Birth:</label>
    <input type="date" id="date_of_birth" name="date_of_birth" required><br>



    <button type="submit">Add Player</button>
  </form>
{% endblock %}

