<header>
    <h1>Майстер турнірів</h1>
</header>

<nav>
    <a href="index.html">Головна</a>
    <a href="create_tournament.html">Створити змагання</a>
    <a href="enter_result.html">Ввести результати</a>
    <a href="view_results">Перегляд результатів</a>
    <a href="commands_stat">Статистика команд</a>
    <a href="players_stat">Статистика гравців</a>
</nav>
