{% extends 'tournament/base.html' %}

{% block content %}
  <h1>{{ title }}</h1>
  <div class="container">
    <p>Кількість гравців в базі: {{ players.count }}</p>
    <p>Список гравців в базі:</p>
    <ul>
      {% for player in players %}
        <li>
          <b>{{ player }}</b>
          <ul>
            {% for team in player.team_set.all %}
              Команди:
              <li>{{ team }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
