body {
    margin: 0;
    padding-left: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin-left: 20px;
    padding-left: 10px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding-left: 10px;
    list-style-type: none;
}

.menu {
    list-style: none;
    padding: 14px 5px;
    margin: 0;
    overflow: hidden;
    background-color: yellow;
    display: flex;
}

.menu-item {
    margin-right: 20px;
    cursor: pointer;
    color: green;
}

.submenu {
    display: none;
    padding: 14px 5px;
    margin: auto;
    position: absolute;
    background-color: yellow;
    text-decoration: none;
}

.menu-item:hover .submenu {
    color: yellow;
    display: block;
}

.submenu-item {
    color: green;
    background-color: yellow;
    margin: auto;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;
}

.menu-item a:hover,
.submenu-item a:hover {
    text-decoration: none;
    color: yellow;
    background-color: green;
}

.menu-item a,
.submenu-item a {
    padding: 14px 5px;
    text-decoration: none;
    color: green;
}


li.empty {
    color: rgb(94, 7, 7);
}

.link-show-player {
    text-decoration: none;
    color: black;
}

h4 {
    padding: 0px;
    margin: auto;
    color: rgb(30, 4, 80);
}

.bg-image {
    background-image: url('../images/back_grass_ball.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* Розтягнути зображення на весь розмір */
}