{% comment %} tournament\template\tournament\base.html {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tournament/css/style.css' %}">
</head>
<body class="bg-image">
    <div class="header">
        {% block mainmenu %}
            <ul class="menu">
                <li class="menu-item">
                    <a href="{% url 'tournament:login' %}">Увійти</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'tournament:index' %}">Головна</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'tournament:create_tournament' %}">Створити турнір</a>
                    <ul class="submenu">
                        <li class="submenu-item"><a href="#">Кубковий турнір</a></li>
                        <li class="submenu-item"><a href="#">Ліга</a></li>
                        <li class="submenu-item"><a href="#">Товариський матч</a></li>
                      </ul>
                </li>
                <li>
                <li class="menu-item">
                    <a href="#">Внести</a>
                    <ul class="submenu">
                        <li class="submenu-item"><a href="{% url 'tournament:create_player_form' %}">Внести гравців</a></li>
                        <li class="submenu-item"><a href="{% url 'tournament:add_teams' %}">Внести команди</a></li>
                        <li class="submenu-item"><a href="{% url 'tournament:add_match_results' %}">Внести результати матчів</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="{% url 'tournament:view_results' %}">Статистика</a>
                    <ul class="submenu">
                        <li class="submenu-item"><a href="{% url 'tournament:team_statistics' %}">Статистика команд</a></li>
                        <li class="submenu-item"><a href="{% url 'tournament:player_statistics' %}">Статистика гравців</a></li>
                        <li class="submenu-item"><a href="#">Статистика по видах спорту</a></li>
                    </ul>
                </li>


            </ul>
        {% endblock mainmenu %}
    </div>

{% block content %}
{% endblock %}
</body>
</html>