{% extends 'tournament/base.html' %}

{% block content %}
  <h1>Додаємо гравця в базу</h1>

  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Записати">
  </form>
{% endblock %}