{% extends 'tournament/base.html' %}

{% block content %}
  <h1>{{ title }}</h1>
  <div class="container">
    <h4>Кількість гравців в базі: {{ players.count }}</h4>
    <ul>
      {% for player in players %}
        <li>
          <p ><a href="{{ player.get_absolute_url }}" class="link-show-player"><b>{{ player }}</b></a></p>
          <ul>
              Команди:
            {% for team in player.team_set.all %}
              <li><i>{{ team }}</i></li>
              {% empty %}
                <li class="empty">У гравця немає команди</li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
