{% extends 'tournament/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<div class="container">
    <p>Кількість команд в базі: {{ num_teams }}</p>
    <p>Список команд в базі:</p>
    {% for team_data in team_players_list %}
        <h4 class="h4">{{ team_data.team_name }}</h4>
        <ul>
            {% for player in team_data.players_list %}
                <li>{{ player }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock %}
