{% extends 'tournament/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<div class="container">
    <p>Кількість матчів в базі: {{ num_match }}</p>
    {% for tour_match in tour_match_list %}
    <h4 class="h4">{{ tour_match.tournament_name }}</h4>
        {% for res in tour_match.matches_list %}
        <ul>
            <li>
                {{ res }}
            </li>
        </ul>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}