/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    /* background: lightgreen; */
    max-width: 1000px;
    height: 600px;
    margin: 50px auto;
    display: flex;
    /* flex-wrap впливає на перенесення флекс елементів якщо вони не поміщаються в один ряд */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    justify-content: space-between;
    /* justify-content: space-around; */
}

.block {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 25px;
    width: 330px;
    /* background: orange; */
    /* border-radius: 5%; */
}

.mini-block {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 5px;
    width: 330px;
    height: 100px;
    /* background: orange; */
    /* border-radius: 15%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.small-input {
    width: 20px;
    height: 20px;
}
